@model WebApplication.Models.AnswerViewModel


<button name="answerId" value="@Model.AnswerId" class="border bg-@Model.Color border-@Model.Color rounded-circle">
    @Model.Answer
</button>




































@*@if (Model.IsAnswered)
    {
        @Html.DisplayForModel()
    }
    else
    {
        @Html.EditorForModel()
    }*@
